oauth2-proxy:
  ingress:
    enabled: true
    path: /
    hosts:
    - oauth2-proxy.homelab.bartbrinkman.nl
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt
    tls:
    - secretName: oauth2-proxy-tls
      hosts:
      - oauth2-proxy.homelab.bartbrinkman.nl 

  image:
    repository: "quay.io/oauth2-proxy/oauth2-proxy"
    tag: "v7.0.1"
    pullPolicy: "IfNotPresent"

  config:
    existingSecret: oauth2-proxy
    configFile: |-
      provider = "github"
      provider_display_name = "Homelab OAuth2 authentication"
      redirect_url = "https://oauth2-proxy.homelab.bartbrinkman.nl/oauth2/callback"

  extraArgs:
    whitelist-domain: ".bartbrinkman.nl"
    upstream: "file:///dev/null"
    cookie-domain: ".bartbrinkman.nl"
    email-domain: "*"
    gitlab-group: ""
    cookie-name: "oauth2-proxy"

  metrics:
    enabled: false