apiVersion: v1
kind: ConfigMap
metadata:
  name: redirect
data:
  redirect.conf: |
    server {
        listen 80 default_server;
        server_name _;
        
        return 302 https://www.ing.nl/particulier/betaalverzoek/index.html?trxid=Wt6PhFttz12onBuZR0BjtActfYjBZYIy;
    }
