apiVersion: apps/v1
kind: Deployment
metadata:
  name: factorio
  namespace: factorio
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/instance: factorio
      app.kubernetes.io/name: factorio
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: factorio
        app.kubernetes.io/name: factorio
    spec:
      automountServiceAccountToken: true
      hostNetwork: false
      initContainers:
        - name: copy-server-config
          image: busybox
          command: 
            - sh 
            - -c
            - |
              mkdir -p /factorio/config &&
              cp /tmp/config/* /factorio/config/
          volumeMounts:
            - name: server-config
              mountPath: /tmp/config
            - name: vol
              mountPath: /factorio
      containers:
        - image: 'factoriotools/factorio:stable'
          imagePullPolicy: IfNotPresent
          name: factorio
          ports:
            - containerPort: 27015
              name: rcon
              protocol: TCP
            - containerPort: 34197
              name: server
              protocol: UDP
          volumeMounts:
            - name: vol 
              mountPath: /factorio
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      serviceAccountName: default
      volumes:
        - name: vol
          persistentVolumeClaim:
            claimName: factorio
        - name: server-config
          configMap:
            name: server-config
            items:
              - key: map-gen-settings.json
                path: map-gen-settings.json
              - key: map-settings.json
                path: map-settings.json
              - key: server-settings.json
                path: server-settings.json
