apiVersion: v1
kind: Service
metadata:
  name: factorio
  namespace: factorio
spec:
  ports:
    - name: rcon
      port: 27015
      protocol: TCP
      targetPort: rcon
    - name: server
      port: 34197
      protocol: UDP
      targetPort: server
  selector:
    app.kubernetes.io/instance: factorio
    app.kubernetes.io/name: factorio
  type: ClusterIP
