apiVersion: v1
kind: Service
metadata:
  name: factorio
  namespace: factorio
spec:
  type: NodePort
  ports:
    - name: rcon
      port: 27015
      targetPort: 27015
      protocol: TCP
    - name: server
      port: 34197
      targetPort: 34197
      nodePort: 34197
      protocol: UDP
  selector:
    app.kubernetes.io/instance: factorio
    app.kubernetes.io/name: factorio
