kube-prometheus-stack:

  prometheusOperator:
    admissionWebhooks:
      enabled: false
      patch:
        enabled: false
    tlsProxy:
      enabled: false

  grafana:
    ingress: 
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      hosts:
      - grafana.homelab.bartbrinkman.nl
      tls:
      - secretName: grafana-general-tls
        hosts:
        - grafana.homelab.bartbrinkman.nl  

  prometheus:
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            resources:
              requests:
                storage: 50Gi
