kube-prometheus-stack:

  alertmanager:
    ingress: 
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        nginx.ingress.kubernetes.io/auth-signin: https://oauth2-proxy.homelab.bartbrinkman.nl/oauth2/start?rd=https://$host$request_uri$is_args$args
        nginx.ingress.kubernetes.io/auth-url: https://oauth2-proxy.homelab.bartbrinkman.nl/oauth2/auth
      hosts:
      - alertmanager.homelab.bartbrinkman.nl
      tls:
      - secretName: alertmanager-general-tls
        hosts:
        - alertmanager.homelab.bartbrinkman.nl 

  prometheusOperator:
    admissionWebhooks:
      enabled: false
      patch:
        enabled: false
    tlsProxy:
      enabled: false

  grafana:
    ingress: 
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      hosts:
      - grafana.homelab.bartbrinkman.nl
      tls:
      - secretName: grafana-general-tls
        hosts:
        - grafana.homelab.bartbrinkman.nl  

  prometheus:
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            resources:
              requests:
                storage: 50Gi
