ingress-nginx:
  controller:
    dnsPolicy: ClusterFirstWithHostNet
    hostNetwork: true
    kind: "DaemonSet"

    watchIngressWithoutClass: true

    publishService:
      enabled: false
    
    service:
      enabled: true
      type: ClusterIP

    metrics:
      enabled: true
      service:
        annotations:
          prometheus.io/port: "10254"
          prometheus.io/scrape: "true"
      
    podSecurityPolicy:
      enabled: true

    serviceAccount:
      create: true

    admissionWebhooks:
      enabled: false
