portainer:
  service:
    type: ClusterIP
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt
    hosts:
    - host: portainer.homelab.bartbrinkman.nl
    tls:
    - secretName: portainer-tls
      hosts:
      - portainer.homelab.bartbrinkman.nl  