minio:
  existingSecret: minio

  replicas: 2

  buckets:
    - name: registry
      policy: download
      purge: false
    - name: public
      policy: download
      purge: false

  resources:
    requests:
      memory: 1024Mi

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt
    path: /
    hosts:
      - minio.homelab.bartbrinkman.nl
    tls:
      - secretName: minio-tls
        hosts:
          - minio.homelab.bartbrinkman.nl

  environment:
    HOSTNAME: https://minio.homelab.bartbrinkman.nl
    MINIO_SERVER_URL: https://minio.homelab.bartbrinkman.nl

  persistence:
    storageClass: directpv-min-io

  consoleIngress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt
    path: /
    hosts:
      - minio-console.homelab.bartbrinkman.nl
    tls:
      - secretName: minio-console-tls
        hosts:
          - minio-console.homelab.bartbrinkman.nl

docker-registry:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
    path: /
    hosts:
      - docker-registry.homelab.bartbrinkman.nl
    tls:
      - secretName: docker-registry-tls
        hosts:
          - docker-registry.homelab.bartbrinkman.nl
  storage: s3
  secrets:
    # htpasswd: qanRJgS3gXEHHqfOBlmF:$2y$10$YMDI2qmixg69An.k8eiSzegg/pTEx/6yqcEZFHuQxCw4Aj160.OOy
    s3:
      secretRef: "minio"
  s3:
    region: homelab
    regionEndpoint: https://minio.homelab.bartbrinkman.nl
    bucket: registry
    rootdirectory: /
    encrypt: false
    secure: false
  extraVolumeMounts:
    - mountPath: "/auth"
      name: my-htpasswd
      readOnly: true
  extraVolumes:
    - name: my-htpasswd
      secret:
        secretName: registry
  

# REGISTRY_AUTH : htpasswd
# REGISTRY_AUTH_HTPASSWD_PATH : /auth/htpasswd
# REGISTRY_AUTH_HTPASSWD_REALM : Registry Realm

    