minio:
  existingSecret: minio

  replicas: 2

  buckets:
    - name: registry
      policy: download
      purge: false
    - name: public
      policy: download
      purge: false

  resources:
    requests:
      memory: 1024Mi

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt
    path: /
    hosts:
      - minio.homelab.bartbrinkman.nl
    tls:
      - secretName: minio-tls
        hosts:
          - minio.homelab.bartbrinkman.nl

  environment:
    HOSTNAME: https://minio.homelab.bartbrinkman.nl
    MINIO_SERVER_URL: https://minio.homelab.bartbrinkman.nl

  persistence:
    storageClass: directpv-min-io

  consoleIngress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt
    path: /
    hosts:
      - minio-console.homelab.bartbrinkman.nl
    tls:
      - secretName: minio-console-tls
        hosts:
          - minio-console.homelab.bartbrinkman.nl

docker-registry:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
    path: /
    hosts:
      - docker-registry.homelab.bartbrinkman.nl
    tls:
      - secretName: docker-registry-tls
        hosts:
          - docker-registry.homelab.bartbrinkman.nl
  storage: s3
  secrets:
    s3:
      secretRef: "minio"
  s3:
    region: homelab
    regionEndpoint: http://minio:9000
    bucket: registry
    rootdirectory: /
    encrypt: false
    secure: false